<md-card class="teneo-card">

  <md-card-header>
    <md-card-title>
      {{user.name}}
    </md-card-title>
  </md-card-header>

  <md-card-content>

    <div class="label">Role:</div>
    <div class="value">{{user.role}}</div>

    <div class="label">Organizations:</div>
    <div class="value">{{organizations}}</div>

  </md-card-content>

  <md-card-actions align="end">

    <button md-button color="warn" (click)="deleteUser.next(user)">
      DELETE
    </button>

    <button md-button color="primary" (click)="editUser.next(user)">
      EDIT
    </button>

  </md-card-actions>

</md-card>
