<md-card class="teneo-card" [ngClass]="{clickable: selectMode}">

  <md-card-header class="header">
    <md-card-title>
      {{user.name}}
    </md-card-title>
  </md-card-header>

  <md-card-content class="content">

    <div class="label">Role:</div>
    <div class="value">{{user.role}}</div>

  </md-card-content>

  <md-card-actions class="actions" align="end" *ngIf="!selectMode">

    <md-toolbar class="button-toolbar">

      <div class="button-left">

        <button md-button color="primary" (click)="onSelect($event)">
          ORGANIZATIONS
        </button>

      </div>

      <div class="button-right">

        <button md-button color="warn" (click)="onDelete($event)">
          DELETE
        </button>

        <button md-button color="primary" (click)="onEdit($event)">
          EDIT
        </button>

      </div>

    </md-toolbar>

  </md-card-actions>

</md-card>
