<!--<md-card>-->
<!--<teneo-user-list [users]="users | async" (editUserEvent)="editUser($event)" (deleteUserEvent)="deleteUser($event)"></teneo-user-list>-->
<!--</md-card>-->
<!--<md-card>-->
<!--<md-card-header>-->
<!--<md-card-title>Edit user info:</md-card-title>-->
<!--</md-card-header>-->
<!--<teneo-user-detail></teneo-user-detail>-->
<!--</md-card>-->

<md-card>

  <md-card-header color="primary">
    <md-card-title>List of Users</md-card-title>
    <md-card-subtitle>Last update: {{ lastUpdate | async | amTimeAgo }}</md-card-subtitle>
  </md-card-header>

  <md-card-content>

    <div fxLayout.gt-md="" fxLayout.lt-md="row" fxLayoutWrap>
      <div fxFlex.xl="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.lt-md="100" *ngFor="let user of (users | async)">

        <teneo-user-detail [user]="user" [organizations]="userOrgList(user) | async"
                           (editUser)="editUser($event)"
                           (deleteUser)="userDeleted($event)"
        ></teneo-user-detail>

      </div>

    </div>

  </md-card-content>

  <md-card-actions align="end">

    <button md-button *ngIf="hasMore" (click)="getMore()">MORE ({{remainingCount()}})</button>

    <div class="card-buttons">

      <button md-button (click)="newUser()">
        <md-icon>add</md-icon>
      </button>

      <button md-button (click)="refresh()">
        <md-icon>refresh</md-icon>
        <!--RELOAD-->
      </button>

    </div>
  </md-card-actions>

</md-card>
