.teneo-card {
  margin: 0.5em;
}
.content {
  overflow-y: visible;
  height: auto;
}

.mat-card-title {
  font-size: x-large;
  font-weight: bold;
}

.label {
  font-size: x-small;
  margin-top: 1em;
}

.value {
  padding-left: 1em;
  font-size: large;
  width: 100%;
}
