<teneo-list
  title="List of Organizations{{filterText | async}}"
  [lastUpdate]="lastUpdate | async"
  (newObject)="newOrganization()"
  (reload)="reload()"
>

  <div class="list" fxLayout.gt-md="row" fxLayout.lt-md="row" fxLayoutWrap fxLayoutAlign="stretch">

    <teneo-organization-list-item
      class="item"
      fxFlex.xl="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.lt-md="100"
      *ngFor="let org of (organizations | async)"
      [organization]="org"
      (editOrganization)="editOrganization($event)"
      (deleteOrganization)="deleteOrganization($event)"
      (openJobs)="openJobs($event)"
    ></teneo-organization-list-item>


  </div>

</teneo-list>
