.mat-card {
  margin: 0.5em;
}

.mat-card-title {
  font-size: x-large;
  font-weight: bold;
}

.label {
  font-size: x-small;
  margin-top: 1em;
}

.value {
  padding-left: 1em;
  font-size: large;
}
