<md-card class="teneo-card">

  <md-card-header>
    <md-card-title>
      {{organization.name}}
    </md-card-title>
  </md-card-header>

  <md-card-content>

    <div class="label">Code:</div>
    <div class="value">{{organization.code}}</div>

    <div class="label">Users:</div>
    <div class="value">{{users}}</div>

  </md-card-content>

  <md-card-actions align="end">

    <button md-button color="warn" (click)="deleteOrganization.next(organization)">
      DELETE
    </button>

    <button md-button color="primary" (click)="editOrganization.next(organization)">
      EDIT
    </button>

  </md-card-actions>

</md-card>
