.teneo-card {
  margin: 0.5em;
  //height: 100%;
}

.mat-card-content {
  min-height: 3em;
  overflow-y: auto;
}

.mat-card-title {
  font-size: x-large;
  font-weight: bold;
}

.label {
  font-size: x-small;
  margin-top: 1em;
}

.value {
  padding-left: 1em;
  font-size: large;
}

.button-toolbar {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.button-left {
  position: absolute;
  left: 0;
}

.button-right {
  position: absolute;
  right: 0;
}
